################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/WebApiTeste/v17
/bin/Debug/netcoreapp3.1
/.vs
